h1 {
  color: rgb(255, 255, 255);
  text-align:center;
  padding-top: 10%;
}
h2 {
  color:rgb(172, 16, 138);
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  padding-top: 1%;
}
body {
  background-color: rgb(34, 33, 33);
}
header {
  padding: 1px;
}